@font-face {
    font-family: 'Open 24 Display St';
    src: url('Open24DisplaySt.eot');
    src: url('Open24DisplaySt.eot?#iefix') format('embedded-opentype'),
        url('Open24DisplaySt.woff') format('woff'),
        url('Open24DisplaySt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
